.about {
    height: 50rem;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @media only screen and (max-width: $bp-medium) {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    &__text {
        grid-column: 1 / 4;
        margin-right: 5rem;
    }

    &__img {
        width: 100%;
        grid-column: 4 / 6;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__button {
        margin-top: 3rem;
    }
}